.tooltip {
  visibility: hidden;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  z-index: 1000; /* Ensure it appears above other content */
  opacity: 0;
  max-width: 350px;
  transition: opacity 0.3s ease-in-out;
}

.tooltip.show {
  visibility: visible;
  opacity: 1;
}

.ob_tooltip {
  visibility: hidden;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  z-index: 1000; /* Ensure it appears above other content */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.ob_tooltip.show {
  visibility: visible;
  opacity: 1;
}
